# Created by .ignore support plugin (hsz.mobi)
# www/*
mysql/
!mysql/test
.idea
.env
logs
.DS_STORE
vendor/
composer.lock
upload/
phpmyadmin/config/config\.secret\.inc\.php

phpmyadmin/config/config\.user\.inc\.php
