<a href="{{getLink}}" class="app_link bottom_line {{getType}}">
    <div>
        {{# getImage }}
            {{> multi-image-partial }}
        {{/getImage}}
    </div>

    <span class="app_name_row">
        {{# getIcon }}
            <img src="{{ getIcon }}" class="app_icon" alt="icon">
        {{/getIcon}}
        <span class="app_name">{{getName}} для <b>{{getPlatform}}</b></span>
    </span>
</a>
