<a href="{{getLink}}" class="app_link bottom_line {{getType}}">
    <div>
        <img src="res/images/{{getImage}}" class="app_image" alt="image">
    </div>

    <span class="app_name_row">
        <img src="res/icons/{{getIcon}}" class="app_icon" alt="icon">
        <span class="app_name">{{getName}} для <b>{{getPlatforms}}</b></span>
    </span>
</a>
