<main class="main detail clearfix">

    <div class="image_wrapper">
        <img src="{{ getImage }}" class="app_image" alt="app_image">
    </div>

    <div class="app_name">{{ getName }}</div>
    {{# getSmallDesc }}
        <div class="app_desc">{{ . }}</div>
    {{/ getSmallDesc }}

    <div id="mods" class="center_wrapper">
        {{# getModifications }}
            {{> app-mod-partial }}
        {{/ getModifications }}
    </div>

    {{# hasHidden }}
        <div id="show_all" class="center_wrapper">
            <a href="#" class="btn_download small sub" onclick="return showMods(this);">Показать все</a>
        </div>
    {{/ hasHidden }}

    <script>
        function showMods(event) {
            console.log("keke");
            const hiddenMods = document.querySelectorAll("#mods > .hidden");
            hiddenMods.forEach(function (value) {
                value.classList.remove("hidden");
            });
            document.getElementById("show_all").classList.add("hidden")
            return false;
        }
    </script>
</main>