<main class="main detail clearfix">

    <div class="image_wrapper">
        <img src="{{image}}" class="app_image" alt="app_image">
    </div>

    <div class="app_name">{{name}}</div>
    {{# desc }}
        <div class="app_desc">{{desc}}</div>
    {{/ desc }}

    <div class="center_wrapper">
        {{# sources }}
            {{# modTplWrapper }}
                {{ . }}
            {{/ modTplWrapper }}
        {{/ sources }}
    </div>

    {{# hasHidden }}
        <div class="center_wrapper">
            <a href="#" class="btn_download small sub">Показать все</a>
        </div>
    {{/hasHidden}}
</main>