<main class='main clearfix'>

    {{# clientApps }}
        {{# itemTplWrapper }}
            {{ . }}
        {{/ itemTplWrapper }}
    {{/ clientApps }}

    {{# hasOther }}
        {{# otherApps }}
            {{# itemTplWrapper }}
                {{ . }}
            {{/ itemTplWrapper }}
        {{/ otherApps }}
    {{/ hasOther }}

</main>