<main class='main clearfix'>

    {{# clientApps }}
        {{> app-item-partial }}
    {{/ clientApps }}

    {{# hasOther }}
        {{# otherApps }}
            {{> app-item-partial }}
        {{/ otherApps }}
    {{/ hasOther }}

</main>