<title>{{ getTitle }}</title>
<meta name="description" content="{{ getDescription }}">

{{# getOpenGraph}}
    {{# getUrl }}
        <meta property="og:url" content="{{ . }}"/>
    {{/ getUrl }}
    {{# getSiteName }}
        <meta property="og:site_name" content="{{ . }}"/>
    {{/ getSiteName }}
    {{# getTitle }}
        <meta property="og:title" content="{{ . }}"/>
    {{/ getTitle }}
    {{# getDescription }}
        <meta property="og:description" content="{{ . }}"/>
    {{/ getDescription }}
    {{# getImage }}
        <meta property="og:image" content="{{ . }}"/>
    {{/ getImage }}
{{/getOpenGraph}}
