.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  font-size: 16px;
  color: #333;
}
.hidden {
  display: none !important;
}
body {
  padding: 0;
  margin: 0;
}
body.debug * {
  outline: 1px solid rgba(32, 119, 159, 0.5);
}
body.debug:before {
  content: "";
  position: fixed;
  width: 1px;
  height: 100%;
  top: 0;
  background: #000000;
  left: 50%;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 16px 48px 16px;
  margin: 0 auto;
  max-width: 1200px;
}
.header {
  display: flex;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 1200px;
  justify-content: space-between;
}
.header .navbar {
  padding: 0 8px;
  margin: 0;
  display: block;
  list-style: none;
}
.header .navbar > li {
  position: relative;
  padding: 0;
  display: block;
  float: left;
  margin: 0 8px 0 0;
}
.header .navbar > li a {
  display: block;
  color: #d83541;
  padding: 16px 8px;
  text-decoration: none;
}
.logo {
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo .logo_img_shape {
  height: 128px;
  width: 128px;
  padding: 20px;
  background: #7e1b1b;
  background: linear-gradient(90deg, #7e1b1b 0%, #ba3c41 100%);
  border-radius: 50%;
}
.logo .logo_img_shape .logo_img {
  height: 100%;
  width: 100%;
}
.logo .logo_name {
  margin-top: 12px;
  display: inline-block;
  font-size: 36px;
}
.logo .logo_slogan {
  color: #757575;
  margin-top: 8px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", Helvetica, Arial, Verdana, sans-serif;
  font-weight: lighter;
}
.divider {
  border-bottom: 1px solid #e8e8e8;
  margin-top: -1px;
}
.app_link {
  text-decoration: none;
  color: #d83541;
  position: relative;
  padding: 16px 16px 12px;
  max-width: 360px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app_link > div {
  text-align: center;
}
.app_link > div .app_image {
  max-width: 100%;
  max-height: 200px;
}
.app_link .app_icon {
  height: 24px;
  margin-right: 8px;
}
.app_link .app_icon[src*=ic_apple] {
  margin-bottom: 4px;
}
.app_link .app_name_row {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  align-items: center;
}
.app_link .app_name {
  max-width: 100%;
  display: inline-block;
  text-align: center;
}
.app_link.android_tv {
  max-width: 360px;
}
.app_link.android_tv > div .app_image {
  max-height: 300px;
}
.bottom_line:after {
  display: block;
  height: 3px;
  background: #d83541;
  position: absolute;
  border-radius: 3px 3px 0 0;
  content: "";
  left: 0;
  right: 0;
  opacity: 0;
  bottom: 0;
  -webkit-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transform-origin: bottom;
  transform: scaleX(1) scaleY(0);
}
.bottom_line:hover:after,
.bottom_line.active:after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}
.main.detail {
  flex-wrap: nowrap;
  flex-direction: column;
  padding-top: 96px;
}
.main.detail .image_wrapper {
  margin: 0 48px;
  text-align: center;
}
.main.detail .image_wrapper .app_image {
  max-width: 100%;
  max-height: 300px;
}
.main.detail .app_name {
  margin-top: 24px;
  text-align: center;
  font-size: 28px;
}
.main.detail .app_desc {
  text-align: center;
  color: #757575;
  margin-top: 8px;
  font-size: 14px;
}
.main.detail .text_block {
  margin: auto;
  max-width: 480px;
  font-size: 14px;
  line-height: 1.5;
}
.main.detail .center_wrapper {
  max-width: 640px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  margin: 24px auto 0;
}
.main.detail .app_mod {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
}
.main.detail a.btn_download {
  text-decoration: none;
  text-align: center;
  color: #d83541;
  border-radius: 24px;
  line-height: 48px;
  padding-left: 20px;
  padding-right: 24px;
  border: 1px solid #d83541;
  position: relative;
}
.main.detail a.btn_download:hover {
  background: rgba(216, 53, 65, 0.03);
}
.main.detail a.btn_download.filled {
  background: #d83541;
  border: none;
  color: #fff;
}
.main.detail a.btn_download.filled:hover {
  background: #cd323e;
}
.main.detail a.btn_download.small {
  line-height: 40px;
}
.main.detail a.btn_download.sub {
  border: none;
}
.main.detail a.btn_download.sub:hover {
  background: none;
  text-decoration: underline;
}
.main.detail a.btn_download .app_icon {
  height: 24px;
  vertical-align: text-bottom;
  margin-bottom: -2px;
  margin-right: 4px;
}
.main.detail a.btn_download .app_icon.ic_apple {
  margin-bottom: 4px;
}
/*# sourceMappingURL=style.css.map */